{% extends 'base_admin.html.twig' %}

{% block title %}Liste des ingrédients{% endblock %}

{% block body %}
    <div class="d-flex flex-row flex-nowrap justify-content-between align-items-center">
        <h1>Liste des ingrédients</h1>
        <a class="btn btn-primary" href="{{ path('app_ingredient_new') }}"><i class="fa-solid fa-plus"></i> Ajouter</a>
    </div>

    <div class="d-flex flex-row w-50 my-2">
        {{ knp_pagination_filter(ingredients, {
            'name': 'Nom',
        },{'button':'Filtrer'}) }}
    </div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Photo</th>
                <th>{{ knp_pagination_sortable(ingredients, 'Nom', 'name') }}</th>
                <th>{{ knp_pagination_sortable(ingredients, 'Catégorie', 'category') }}</th>
                <th>{{ knp_pagination_sortable(ingredients, 'Type', 'type') }}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <td>
                    <img alt="photo_de_{{ingredient.name}}" class="img-thumbnail" width="150" src="{{ asset('/ingredients/'~ingredient.picture)  }}"/>
                </td>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.category.name }}</td>
                <td>{{ ingredient.type }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_ingredient_show', {'id': ingredient.id}) }}"><i class="fa-solid fa-eye"></i> Voir</a>
                    <a class="btn btn-danger" href="{{ path('app_ingredient_edit', {'id': ingredient.id}) }}"><i class="fa-solid fa-pencil"></i> Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun ingredient trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center my-2 my-lg-5">
        {{ knp_pagination_render(ingredients) }}
    </div>


{% endblock %}
