<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://kit.fontawesome.com/673b9056b4.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Unbounded&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('app_admin') }}
        {% endblock %}

    </head>
    <body>
        {% include "layout/_header.html.twig" %}
        <div class="d-flex flex-column content">
            <div class="d-flex flex-row ">
                {{ include('admin/_sidebar.html.twig')}}
            <main>
                <div class =card>
                    <div class="card-body">
                        {% block body %}
                        {% endblock %}
                    </div>
                </div>
            </main>
            </div>
        </div>
        {% include "layout/_footer.html.twig"%}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{encore_entry_script_tags('app_admin')}}
        {% endblock %}

    </body>
</html>
