<aside>
    <div class="action">
        <a class="btn btn-secondary" href="{{path('app_main')}}"><i class="fa-solid fa-house m-0"></i></a>
        <a class="btn {{current_path == "app_profile" ? "btn-primary" : "btn-secondary"}}" href="{{path('app_profile')}}"><i class="fa-solid fa-border-all m-0"></i></a>
    </div>
    <ul class="sidebar-profil-menu">
        <li >
            <a  aria-current="page" href="#">Mes recettes</a>
        </li>
        <li>
            <a class="{{current_path == "app_profile_account" ? "active " : ""}}" href="{{path('app_profile_account')}}">Mon Compte</a>
        </li>
    </ul>
</aside>