
{% extends 'base.html.twig'%}
{% block title%}Mon compte{%endblock%}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_profile') }}
{% endblock %}
{% block body %}
        {{ include('front/profile/_sidebar.html.twig')}}
        <main>
            <div class="card">
                <div class="avatar">
                    <img alt="photo de profile" src="{{ asset('/images/avatars/') }}{{ app.user.profile.avatar ? app.user.profile.avatar : "default.webp" }}" />
                    <a class="btn btn-secondary" title="Modifier votre photo" data-toggle="tooltip"  data-bs-toggle="offcanvas" href="#offcanvasAvatar" role="button" aria-controls="offcanvasAvatar"><i class="fa-solid fa-camera"></i></a>
                </div>
                <div class="infos">
                    <div class="name">
                        <div>
                            <span>Nom : <b>{{app.user.profile.firstname}}</b></span>
                            <span>Prénom : <b>{{app.user.profile.lastname}}</b></span>
                        </div>
                        <a class="btn btn-primary" title="Modifier vos informations" data-toggle="tooltip"  data-bs-toggle="offcanvas" href="#offcanvasProfile" role="button" aria-controls="offcanvasProfile"><i class="fa-solid fa-user-pen"></i>Modifier mes informations</a>
                    </div>
                    <div class="d-flex align-items-md-center">
                        <a href="{{path('app_forgot_password_request')}}" class="btn btn-primary">Modifier mon mot de passe</a>
                    </div>
                </div>
            </div>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAvatar" aria-labelledby="offcanvasAvatarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasAvatarLabel">Modifier votre photo de profil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    {{ form_start(avatarForm) }}
                        {{form_row(avatarForm.imageFile)}}
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    {{ form_end(avatarForm) }}
                </div>
            </div>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasProfile" aria-labelledby="offcanvasProfileLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasProfileLabel">Modifier votre profil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    {{ form_start(profileForm) }}
                    {{form_row(profileForm.firstname)}}
                    {{form_row(profileForm.lastname)}}
                    <button type="submit" class="btn btn-primary">Modifier</button>
                    {{ form_end(profileForm) }}
                </div>
            </div>
        </main>
{% endblock%}