<header>
    <div class="logo">
        <img  height="120" src="{{asset('build/images/logo.svg')}}" /><span>MES RECETTES</span>
    </div>
    {% if app.user is defined and is_granted('ROLE_USER') %}
        <div class="dropdown profile">
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="rounded-circle" src="{{ asset('/images/avatars/') }}{{ app.user.profile.avatar ? app.user.profile.avatar : "default.webp" }}" alt="unknown profile picture">
            </button>
            <ul class="dropdown-menu">
                <li class="badge text-bg-light mx-3 my-2">{{ app.user.userIdentifier }}</li>
                <li><a class="dropdown-item" href="{{path('app_profile')}}">Mon Profil</a></li>
                <li><a class="dropdown-item" href="#">Mon livre de recette</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{path('app_dashboard')}}">Panneau d’administration</a></li>
                {% endif %}
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{path('app_logout')}}">Se déconnecter</a></li>
            </ul>
        </div>

    {% else %}
        <div class="profile"><a class="btn btn-primary" href="{{path('app_login')}}">Se connecter</a></div>
    {% endif %}
</header>